In [1]:
import pandas as pd
import numpy as np

import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM, CuDNNLSTM
from matplotlib import pyplot as plt

import requests
import json
import xml.etree.ElementTree as ET
import io

Using TensorFlow backend.

In [2]:
string = '<li>Aarvee Denims &amp; Exports Ltd<\/li>\n<li>Abhishek Corporation Ltd<\/li>\n<li>Acil Cotton Inds Ltd<\/li>\n<li>Acknit Knitting Ltd<\/li>\n<li>Acrow India Ltd.<\/li>\n<li>Addi Industries Ltd<\/li>\n<li>Adinath Textiles Ltd<\/li>\n<li>Alchemist Corporation Ltd<\/li>\n<li>Alka India Ltd<\/li>\n<li>Alok Industries Limited<\/li>\n<li>Alpha Graphic India Ltd<\/li>\n<li>Alps Industries Ltd<\/li>\n<li>Ambika Cotton Mills Ltd<\/li>\n<li>Amit International Ltd.<\/li>\n<li>Anjani Synthetics Ltd<\/li>\n<li>APM Industries Ltd<\/li>\n<li>Arex Industries Ltd<\/li>\n<li>Arrow Textiles Ltd<\/li>\n<li>Arunoday Mills Ltd.<\/li>\n<li>Arvind Mills Limited<\/li>\n<li>Arvind Products Ltd<\/li>\n<li>Asahi Fibres Ltd.<\/li>\n<li>Ashima Ltd<\/li>\n<li>Ashnoor Textile Mills Ltd<\/li>\n<li>Aunde Faze Three Ltd<\/li>\n<li>AV Cottex Ltd<\/li>\n<li>Aviva Industries Ltd<\/li>\n<li>B&amp;B Realty Ltd<\/li>\n<li>Bafna Spinning Mills &amp; Exports Ltd<\/li>\n<li>Bala Techno Synthetics Ltd<\/li>\n<li>Bang Overseas Ltd<\/li>\n<li>Bannari Amman Spinning Mills Ltd<\/li>\n<li>Baroda Rayon Corpn. Ltd<\/li>\n<li>Bengal Tea &amp; Fabrics Ltd<\/li>\n<li>Bhandari Hosiery Exports Ltd<\/li>\n<li>Bhandari Udhyog Ltd<\/li>\n<li>Bhilwara Spinners Ltd<\/li>\n<li>Bhilwara Tex-Fin Ltd<\/li>\n<li>Bholanath International Ltd<\/li>\n<li>Bijlee Textiles Ltd<\/li>\n<li>Binayak Tex Processors Ltd<\/li>\n<li>Birla Cotsyn (India) Ltd<\/li>\n<li>Black Rose Inds. Ltd<\/li>\n<li>Blue Chip Tex Inds. Ltd<\/li>\n<li>Bombay Burmah Trdg. Corpn. Ltd.<\/li>\n<li>Bombay Rayon Fashions Limited<\/li>\n<li>BSL Ltd<\/li>\n<li>Ceenik Exports (India) Ltd<\/li>\n<li>Ceeta Industries Ltd<\/li>\n<li>Celebrity Fashions Ltd<\/li>\n<li>Century Enka Limited<\/li>\n<li>Century Textiles &amp; Industries. Ltd.<\/li>\n<li>Chandni Textiles Ltd<\/li>\n<li>Cheviot Company Ltd<\/li>\n<li>Chhabra Spinners Ltd<\/li>\n<li>Consolidated Fibres &amp; Chemicals Ltd<\/li>\n<li>CT Cotton Yarn Ltd.<\/li>\n<li>DCM Ltd.<\/li>\n<li>Deepak Spinners Ltd<\/li>\n<li>Dhanlaxmi Cotex Ltd<\/li>\n<li>Dhar Textile Mills Ltd<\/li>\n<li>Donear Industries Ltd<\/li>\n<li>Eastern Silk Inds. Ltd.<\/li>\n<li>Ennore Coke Ltd<\/li>\n<li>Enterprise International Ltd<\/li>\n<li>Eskay K&#8217;N&#8217;It (India) Ltd<\/li>\n<li>Everlon Synthetics Ltd<\/li>\n<li>Evinix Accessories Ltd<\/li>\n<li>Fairdeal Filaments Ltd<\/li>\n<li>Faze Three Ltd<\/li>\n<li>Filaments India Ltd<\/li>\n<li>Filatex Fashions Ltd<\/li>\n<li>Filatex India Ltd<\/li>\n<li>First Winner Industries Ltd<\/li>\n<li>Futura Polyesters Ltd<\/li>\n<li>Ganesh Polytex Ltd<\/li>\n<li>Garden Silk Mills Limited<\/li>\n<li>Garlon Polyfab Inds. Ltd<\/li>\n<li>Garware Synthetics Ltd<\/li>\n<li>Garware-Wall Ropes Ltd<\/li>\n<li>Ginni Filaments Ltd<\/li>\n<li>Gloster Jute Mills Ltd<\/li>\n<li>Gokak Textiles Ltd<\/li>\n<li>Gokaldas Exports Limited<\/li>\n<li>Golden Carpets Ltd<\/li>\n<li>Grabal Alok Impex Ltd<\/li>\n<li>Gravity (India) Ltd<\/li>\n<li>GTN Industries Ltd<\/li>\n<li>GTN Textiles Ltd<\/li>\n<li>Gujarat Cotex Ltd<\/li>\n<li>Gupta Synthetics Ltd<\/li>\n<li>Hanil Era Textiles Ltd<\/li>\n<li>Hanjer Fibres Ltd<\/li>\n<li>Haria Exports Ltd<\/li>\n<li>Haryana Texprints (Overseas) Ltd<\/li>\n<li>Himatsingka Seide Ltd<\/li>\n<li>Hindoostan Spinning &amp; Wvg. Mills Ltd.<\/li>\n<li>House Of Pearl Fashions Ltd<\/li>\n<li>Hytone Texstyles Ltd<\/li>\n<li>Ideal Carpets Ltd<\/li>\n<li>Indian Card Clothing Company Ltd<\/li>\n<li>Indo Rama Synthetics (India) Limited<\/li>\n<li>Indus Fila Ltd<\/li>\n<li>International Hometex Ltd<\/li>\n<li>Jagjanani Textiles Ltd<\/li>\n<li>Jaihind Synthetics Ltd<\/li>\n<li>Jamshri Ranjitsinghji Spg. &amp; Wvg. Mills Company Ltd<\/li>\n<li>Janice Textiles Ltd<\/li>\n<li>Jaybharat Textiles &amp; Real Estate Ltd<\/li>\n<li>JBF Industries Ltd<\/li>\n<li>JCT Limited<\/li>\n<li>JJ Exporters Ltd<\/li>\n<li>JK Synthetics Ltd<\/li>\n<li>Jyoti Overseas Ltd<\/li>\n<li>Kallam Spinning Mills Ltd<\/li>\n<li>Kanco Enterprises Ltd<\/li>\n<li>Kapil Cotex Ltd<\/li>\n<li>Karan Woo-Sin Ltd<\/li>\n<li>Katare Spinning Mills Ltd.<\/li>\n<li>Ken Financial Services Ltd<\/li>\n<li>Kesoram Industries Ltd.<\/li>\n<li>Kewal Kiran Clothing Ltd<\/li>\n<li>KG Denim Ltd<\/li>\n<li>Knitworth Exports Ltd<\/li>\n<li>Konark Synthetic Ltd<\/li>\n<li>Kothari Industrial Corpn. Ltd<\/li>\n<li>KPR Mill Ltd<\/li>\n<li>Krishna Lifestyle Technologies Ltd<\/li>\n<li>KSL &amp; Industries Ltd<\/li>\n<li>Kuvam International Fashions Ltd<\/li>\n<li>Lakshmi Machine Works Ltd<\/li>\n<li>Lakshmi Mills Company Ltd.<\/li>\n<li>Lambodhara Textiles Ltd.<\/li>\n<li>Lloyd Rock fibres Ltd<\/li>\n<li>LN Polyesters Ltd<\/li>\n<li>Loyal Textile Mills Ltd<\/li>\n<li>LS Inds Ltd<\/li>\n<li>Ludlow Jute &amp; Specialities Ltd<\/li>\n<li>Mafatlal Industries Ltd<\/li>\n<li>Maharaja Shree Umaid Mills Ltd<\/li>\n<li>Mahendra Petrochemicals Ltd<\/li>\n<li>Maikaal Fibres Ltd<\/li>\n<li>Malwa Cotton Spg. Mills Ltd.<\/li>\n<li>Mangalam Ventures Ltd<\/li>\n<li>Maris Spinners Ltd.<\/li>\n<li>Mavi Industries Ltd<\/li>\n<li>Maxwell Industries Ltd<\/li>\n<li>MH Mills &amp; Inds. Ltd<\/li>\n<li>Mid India Inds. Ltd<\/li>\n<li>Minaxi Textiles Ltd<\/li>\n<li>MK Exim (India) Ltd<\/li>\n<li>Modern India Ltd.<\/li>\n<li>Mohit Industries Ltd<\/li>\n<li>Morarjee Textiles Ltd<\/li>\n<li>MPIL Corpn. Ltd<\/li>\n<li>Mudra Lifestyle Ltd<\/li>\n<li>Nachmo Knitex Ltd<\/li>\n<li>Nahar Industrial Enterprises Ltd<\/li>\n<li>Nahar Poly Films Ltd<\/li>\n<li>Nahar Spinning Mills Ltd<\/li>\n<li>National Aluminium Company Ltd<\/li>\n<li>Nirlon Ltd<\/li>\n<li>Niryat-Sam Apparels (India) Ltd<\/li>\n<li>Nitin Spinners Ltd<\/li>\n<li>Nova Petrochemicals Ltd<\/li>\n<li>Numech Emballage Ltd<\/li>\n<li>Nutech Global Ltd.<\/li>\n<li>Oasis Finvest Ltd<\/li>\n<li>Omnitex Industries (India) Ltd<\/li>\n<li>Orbit Exports Ltd<\/li>\n<li>Oswal Spinning &amp; Wvg. Mills Ltd<\/li>\n<li>Oswal Yarns Ltd<\/li>\n<li>Oxford Industries Ltd<\/li>\n<li>Pacific Cotspin Ltd<\/li>\n<li>Padam Cotton Yarns Ltd.<\/li>\n<li>Page Industries Ltd<\/li>\n<li>Pasupati Acrylon Ltd<\/li>\n<li>Pasupati Fabrics Ltd<\/li>\n<li>Pasupati Spinning &amp; Wvg. Mills Ltd.<\/li>\n<li>Patspin India Ltd<\/li>\n<li>PBM Polytex Ltd<\/li>\n<li>Pioneer Embroideries Ltd<\/li>\n<li>Poddar Developers Ltd<\/li>\n<li>Polypro Fibrils (India) Ltd.<\/li>\n<li>Prag Bosimi Synthetics Ltd<\/li>\n<li>Prakash Woollen Mills Ltd<\/li>\n<li>Pranavaditya Spinning Mills Ltd<\/li>\n<li>Precot Meridian Ltd<\/li>\n<li>Premco Global Ltd<\/li>\n<li>Punjab Woolcombers Ltd<\/li>\n<li>Raghuvir Synthetics Ltd.<\/li>\n<li>Rai Saheb Rekhchand Mohota Spg. &amp; Wvg. Mills Ltd<\/li>\n<li>Rainbow Denim Ltd<\/li>\n<li>Rajapalayam Mills Ltd<\/li>\n<li>Rajasthan Polyesters Ltd<\/li>\n<li>Rajvir Industries Ltd<\/li>\n<li>Raymond Limited<\/li>\n<li>Reliance Chemotex Inds. Ltd.<\/li>\n<li>Riba Textiles Ltd<\/li>\n<li>Richa Industries Ltd<\/li>\n<li>RM Mohite Textiles Ltd<\/li>\n<li>Rosekamal Textiles Ltd<\/li>\n<li>RSWM Ltd<\/li>\n<li>Ruby Mills Ltd.<\/li>\n<li>S Kumars Nationwide Ltd<\/li>\n<li>S&amp;Y Mills Ltd<\/li>\n<li>Salona Cotspin Ltd<\/li>\n<li>Sangam (India) Ltd<\/li>\n<li>Sanghi Polyesters Ltd<\/li>\n<li>Sanrhea Technical Textiles Ltd<\/li>\n<li>Santaram Spinners Ltd.<\/li>\n<li>Santogen Exports Ltd<\/li>\n<li>Santosh Fine-Fab Ltd<\/li>\n<li>Sarita Synthetics &amp; Inds. Ltd<\/li>\n<li>Sarla Performance Fibres Ltd<\/li>\n<li>Schlafhorst Engineering (India) Ltd<\/li>\n<li>Seasons Textiles Ltd<\/li>\n<li>SEL Manufacturing Company Ltd<\/li>\n<li>Shamken Cotsyn Ltd<\/li>\n<li>Shamken Multifab Ltd<\/li>\n<li>Shamken Spinners Ltd<\/li>\n<li>Shiva Texyarn Ltd<\/li>\n<li>Shree Ram Urban Infrastructure Ltd.<\/li>\n<li>Shri Ganesh Spinners Ltd<\/li>\n<li>Shri Lakshmi Cotsyn Ltd<\/li>\n<li>Siddheswari Garments Ltd<\/li>\n<li>Silktex Ltd<\/li>\n<li>Sirdar Carbonic Gas Company Ltd<\/li>\n<li>SNS Textiles Ltd<\/li>\n<li>Spectacle Industries Ltd<\/li>\n<li>Spenta International Ltd<\/li>\n<li>Spice Islands Apparels Ltd<\/li>\n<li>SPL Industries Ltd<\/li>\n<li>SR Industries Ltd<\/li>\n<li>Sree Jayalakshmi Autospin Ltd<\/li>\n<li>Sri Jayalakshmi Spg. Mills Ltd<\/li>\n<li>SRM Energy Ltd.<\/li>\n<li>STI India Ltd<\/li>\n<li>STL Global Ltd.<\/li>\n<li>Stovec Industries Ltd<\/li>\n<li>Subhash Silk Mills Ltd<\/li>\n<li>Sumeet Industries Ltd<\/li>\n<li>Sun Polytron Inds. Ltd<\/li>\n<li>Suncity Synthetics Ltd<\/li>\n<li>Sunday Exports Ltd<\/li>\n<li>Super Sales India Ltd<\/li>\n<li>Super Syncotex (India) Ltd.<\/li>\n<li>Supertex Industries Ltd<\/li>\n<li>Supreme Tex Mart Ltd<\/li>\n<li>Surat Textile Mills Ltd<\/li>\n<li>Suryaamba Spinning Mills Ltd.<\/li>\n<li>Suryalata Spinning Mills Ltd<\/li>\n<li>Suryavanshi Spinning Mills Ltd<\/li>\n<li>Sutlej Textiles &amp; Inds. Ltd<\/li>\n<li>Swan Energy Ltd<\/li>\n<li>Swasti Vinayaka Synthetics Ltd<\/li>\n<li>Sybly Industries Ltd.<\/li>\n<li>Tai Chonbang Textile Inds. Ltd<\/li>\n<li>Thambbi Modern Spg. Mills Ltd<\/li>\n<li>The Bombay Dyeing and Manufacturing Company Limited<\/li>\n<li>TT Ltd<\/li>\n<li>Unimin India Ltd<\/li>\n<li>Uniproducts (India) Ltd<\/li>\n<li>United Interactive Ltd.<\/li>\n<li>Unitex Designs Ltd<\/li>\n<li>Uniworth Ltd<\/li>\n<li>Uniworth Textiles Ltd.<\/li>\n<li>Valson Industries Ltd<\/li>\n<li>Vardhman Acrylics Ltd<\/li>\n<li>Vardhman Polytex Ltd<\/li>\n<li>Vardhman Textiles Limited<\/li>\n<li>Veejay Lakshmi Engg. Works Ltd<\/li>\n<li>Ventura Textiles Ltd<\/li>\n<li>Vertex Spinning Ltd<\/li>\n<li>Victoria Mills Ltd.<\/li>\n<li>Vijay Textiles Ltd<\/li>\n<li>Vijayeswari Textiles Ltd<\/li>\n<li>Vippy Spinpro Ltd<\/li>\n<li>Virat Industries Ltd<\/li>\n<li>Vishal Cotspin Ltd<\/li>\n<li>Vogue Textiles Ltd<\/li>\n<li>Volant Textile Mills Ltd<\/li>\n<li>VTM Ltd<\/li>\n<li>Vyapar Industries Ltd<\/li>\n<li>Weizmann Ltd<\/li>\n<li>Welspun India Limited<\/li>\n<li>Welspun Syntex Ltd<\/li>\n<li>Western India Cottons Ltd<\/li>\n<li>Wheel &amp; Axle Textiles Ltd<\/li>\n<li>White House Cotton Inds. Ltd<\/li>\n<li>Winsome Textile Inds. Ltd<\/li>\n<li>Winsome Yarns Ltd<\/li>\n<li>Yarn Syndicate Ltd<\/li>\n<li>Zenith Fibres Ltd<\/li>\n'

In [3]:
string = string.replace('<\/li>', '')

In [4]:
string = string.replace('<li>', '')

In [5]:
string = string.replace('&amp;', '&')

In [6]:
string = string.replace('&#8217;', '\'')

In [7]:
li = string.split('\n')

In [8]:
del li[294]

In [9]:
URL = "https://atlas.mapmyindia.com/api/places/geocode?"
HEADER = {'Authorization': '53637c69-0127-40d3-b679-46816df04728'}

In [10]:
lat = []
long = []

i = 0
for industry in li:
    location = industry + ' INDIA'
    PARAMS = {'address':industry} 
    r = requests.get(url = URL, params = PARAMS, headers = HEADER) 
    print(i)
    data = r.json()
    lat.append(data['copResults']['latitude'])
    long.append(data['copResults']['longitude'])
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293

In [11]:
lat[0], long[0], li[0]

(22.975563, 72.569124, 'Aarvee Denims & Exports Ltd')

In [12]:
df2 = pd.read_csv('industrial_clusters.csv')

In [13]:
df2.columns

Index(['S. No.', 'State', 'District', 'Location', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11'],
      dtype='object')

In [14]:
df2.drop(['Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11'], axis=1, inplace=True)

In [15]:
df2.drop(0, inplace=True)

In [16]:
df2.drop(['S. No.'], axis=1, inplace=True)

In [17]:
var = list(df2['Location'].values)

In [18]:
del var[-7:]

In [19]:
var = list(set([val.split(',')[0] for val in var]))

In [20]:
latLocation = []
longLocation = []

i = 0
for loc in var:
    e = loc + 'INDIA'
    PARAMS = {'address':e} 
    r = requests.get(url = URL, params = PARAMS, headers = HEADER) 
    print(i)
    if r.status_code == 200:
        data = r.json()
        latLocation.append(data['copResults']['latitude'])
        longLocation.append(data['copResults']['longitude'])
    else:
        latLocation.append(0)
        longLocation.append(0)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228

In [21]:
len(latLocation), len(var)

(229, 229)

In [22]:
from geopy.distance import great_circle

In [23]:
len(li)

294

In [24]:
total_dataset = pd.DataFrame(columns=['Industry Name', 'Cluster', 'Cluster Lat', 'Cluster Long'])

In [25]:
total_dataset.index.name = 'S.No.'

In [26]:
total_dataset

Empty DataFrame
Columns: [Industry Name, Cluster, Cluster Lat, Cluster Long]
Index: []

In [27]:
for i in range(len(li)):
    for j in range(len(var)):
        if great_circle((lat[i], long[i]), (latLocation[j], longLocation[j])) < 100:
            total_dataset = total_dataset.append({'Industry Name':li[i], 'Cluster':var[j], 'Cluster Lat':latLocation[j], 'Cluster Long': longLocation[j]}, ignore_index=True)
            break

In [28]:
total_dataset

,Industry Name,Cluster,Cluster Lat,Cluster Long
0,Aarvee Denims & Exports Ltd,Ahmedabad,23.018652,72.597713
1,Abhishek Corporation Ltd,Akola,20.691796,77.055667
2,Acil Cotton Inds Ltd,Vashind,19.406203,73.266389
3,Acknit Knitting Ltd,Tiljala,22.528826,88.382243
4,Acrow India Ltd.,Jammu,25.310221,82.999163
5,Addi Industries Ltd,Hathras,27.599385,78.054448
6,Alchemist Corporation Ltd,Barjora,23.426368,87.283027
7,Alka India Ltd,Metiaburuj Ward No. 138 to 141,28.565441,77.337149
8,Alok Industries Limited,Metiaburuj Ward No. 138 to 141,28.565441,77.337149
9,Alpha Graphic India Ltd,Kirtinagar & Tilak Nagar,30.218625,78.760686
10,Alps Industries Ltd,Moradabad,28.832873,78.765129
11,Ambika Cotton Mills Ltd,Virudhunagar,9.591635,77.962225
12,Amit International Ltd.,Tiljala,22.528826,88.382243
13,Anjani Synthetics Ltd,Ahmedabad,23.018652,72.597713
14,APM Industries Ltd,Mahuwa,25.843251,87.605042
15,Arrow Textiles Ltd,Vashind,19.406203,73.266389
16,Arunoday Mills Ltd.,Alang,21.415163,72.167680
17,Arvind Mills Limited,Ahmedabad,23.018652,72.597713
18,Arvind Products Ltd,Adityapur,13.271060,76.718980
19,Asahi Fibres Ltd.,Ahmedabad,23.018652,72.597713
20,Ashima Ltd,Kanpur,26.455100,80.350377
21,Ashnoor Textile Mills Ltd,Kartarpur,31.433937,75.492146
22,Aunde Faze Three Ltd,Tarapur,19.859874,72.682362
23,AV Cottex Ltd,Nagari,17.489008,78.607784
24,Aviva Industries Ltd,Kanpur,26.455100,80.350377
25,B&B Realty Ltd,Mayapuri & Wazirpur,26.465369,90.561222
26,Bafna Spinning Mills & Exports Ltd,Nagari,17.489008,78.607784
27,Bala Techno Synthetics Ltd,Tiljala,22.528826,88.382243
28,Bang Overseas Ltd,Moga,12.940998,78.172514
29,Bannari Amman Spinning Mills Ltd,Moga,12.940998,78.172514
...,...,...,...,...
243,TT Ltd,Tirupur,11.100186,77.352772
244,Unimin India Ltd,Jammu,25.310221,82.999163
245,Uniproducts (India) Ltd,Jammu,25.310221,82.999163
246,United Interactive Ltd.,Machilipatnam,16.181130,81.130274
247,Uniworth Textiles Ltd.,Nashik,21.177136,79.660642
248,Valson Industries Ltd,Tarapur,19.859874,72.682362
249,Vardhman Acrylics Ltd,Alang,21.415163,72.167680
250,Vardhman Polytex Ltd,Sangrur,29.793085,74.466377
251,Vardhman Textiles Limited,Alang,21.415163,72.167680
252,Veejay Lakshmi Engg. Works Ltd,Adityapur,13.271060,76.718980
253,Ventura Textiles Ltd,Ventimalta,19.255014,72.984172
254,Vertex Spinning Ltd,Alappuzha,9.481441,76.340822
255,Victoria Mills Ltd.,Ventimalta,19.255014,72.984172
256,Vijay Textiles Ltd,Nagari,17.489008,78.607784
257,Vijayeswari Textiles Ltd,Tirupur,11.100186,77.352772
258,Vippy Spinpro Ltd,Pithampur,22.608116,75.684122
259,Vishal Cotspin Ltd,Kirtinagar & Tilak Nagar,30.218625,78.760686
260,Vogue Textiles Ltd,Metiaburuj Ward No. 138 to 141,28.565441,77.337149
261,Volant Textile Mills Ltd,Sholapur,17.665748,75.907410
262,VTM Ltd,Moga,12.940998,78.172514
263,Vyapar Industries Ltd,Ventimalta,19.255014,72.984172
264,Weizmann Ltd,Ventimalta,19.255014,72.984172
265,Welspun India Limited,Morvi & Wankaner,22.816253,70.828662
266,Welspun Syntex Ltd,Alang,21.415163,72.167680
267,Wheel & Axle Textiles Ltd,Sirsilla,18.389685,78.808218
268,White House Cotton Inds. Ltd,Alang,21.415163,72.167680
269,Winsome Textile Inds. Ltd,Metiaburuj Ward No. 138 to 141,28.565441,77.337149
270,Winsome Yarns Ltd,Ambala,30.357783,76.801408
271,Yarn Syndicate Ltd,Ventimalta,19.255014,72.984172
272,Zenith Fibres Ltd,Ahmedabad,23.018652,72.597713

In [29]:
critically_polluted = pd.read_csv('air.csv')

In [30]:
critically_polluted.head()

,STATE,INDUSTRIAL CLUSTERS/ AREAS,AIR,WATER,LAND,STATUS
0,Andhra Pradesh,Vishakha patnam,38.00,43.00,43.00,An-Wn-Ln
1,Andhra Pradesh,Patancheru-Bollaram,62.50,67.25,43.00,Ac-Wc-Ln
2,Chhatisgarh,Korba,59.50,47.00,50.50,As-Wn-Ls
3,Delhi,"Nazafgarh drain basin (including Anand Parvat,...",56.88,57.50,60.50,As-Ws-Lc
4,Gujarat,Ankaleshwar,67.50,68.75,57.75,Ac-Wc-Ls

In [31]:
lat1 = []
long1 = []

i = 0
for area in critically_polluted['INDUSTRIAL CLUSTERS/ AREAS'].values:
    e = area + 'INDIA'
    PARAMS = {'address':e} 
    r = requests.get(url = URL, params = PARAMS, headers = HEADER) 
    print(i)
    if r.status_code == 200:
        data = r.json()
        lat1.append(data['copResults']['latitude'])
        long1.append(data['copResults']['longitude'])
    else:
        lat1.append(0)
        long1.append(0)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42

In [32]:
critically_polluted['lat'] = lat1
critically_polluted['long'] = long1

In [33]:
for i in range(len(lat1)):
    if lat1[i] == 0:
        print(i)

25
30
36

In [34]:
for i in range(len(critically_polluted['lat'].values)):
    if lat1[i] == 0:
        critically_polluted.drop(i, inplace=True)

In [35]:
critically_polluted.index = np.arange(critically_polluted.shape[0])

In [36]:
critically_polluted.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39],
           dtype='int64')

In [37]:
total_dataset['Pollution Severity'] = np.zeros(len(total_dataset))

In [38]:
total_dataset.head()

,Industry Name,Cluster,Cluster Lat,Cluster Long,Pollution Severity
0,Aarvee Denims & Exports Ltd,Ahmedabad,23.018652,72.597713,0.0
1,Abhishek Corporation Ltd,Akola,20.691796,77.055667,0.0
2,Acil Cotton Inds Ltd,Vashind,19.406203,73.266389,0.0
3,Acknit Knitting Ltd,Tiljala,22.528826,88.382243,0.0
4,Acrow India Ltd.,Jammu,25.310221,82.999163,0.0

In [39]:
critically_polluted.head()

,STATE,INDUSTRIAL CLUSTERS/ AREAS,AIR,WATER,LAND,STATUS,lat,long
0,Andhra Pradesh,Vishakha patnam,38.00,43.00,43.00,An-Wn-Ln,10.005188,76.328986
1,Andhra Pradesh,Patancheru-Bollaram,62.50,67.25,43.00,Ac-Wc-Ln,17.538347,78.262355
2,Chhatisgarh,Korba,59.50,47.00,50.50,As-Wn-Ls,19.740391,78.989883
3,Delhi,"Nazafgarh drain basin (including Anand Parvat,...",56.88,57.50,60.50,As-Ws-Lc,22.634804,73.030930
4,Gujarat,Ankaleshwar,67.50,68.75,57.75,Ac-Wc-Ls,11.719474,76.735354

In [40]:
total_dataset.head()

,Industry Name,Cluster,Cluster Lat,Cluster Long,Pollution Severity
0,Aarvee Denims & Exports Ltd,Ahmedabad,23.018652,72.597713,0.0
1,Abhishek Corporation Ltd,Akola,20.691796,77.055667,0.0
2,Acil Cotton Inds Ltd,Vashind,19.406203,73.266389,0.0
3,Acknit Knitting Ltd,Tiljala,22.528826,88.382243,0.0
4,Acrow India Ltd.,Jammu,25.310221,82.999163,0.0

In [41]:
for i in range(len(total_dataset['Cluster'].values)):
    for j in range(len(critically_polluted)):
        if great_circle((lat[i], long[i]), (critically_polluted['lat'][j], critically_polluted['long'][j])) < 50:
            total_dataset['Pollution Severity'][i] = 4
            break
    if j == len(critically_polluted) - 1:
        total_dataset['Pollution Severity'][i] = 0.0

C:\Users\kartik\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\kartik\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [43]:
critically_polluted

,STATE,INDUSTRIAL CLUSTERS/ AREAS,AIR,WATER,LAND,STATUS,lat,long
0,Andhra Pradesh,Vishakha patnam,38.00,43.00,43.00,An-Wn-Ln,10.005188,76.328986
1,Andhra Pradesh,Patancheru-Bollaram,62.50,67.25,43.00,Ac-Wc-Ln,17.538347,78.262355
2,Chhatisgarh,Korba,59.50,47.00,50.50,As-Wn-Ls,19.740391,78.989883
3,Delhi,"Nazafgarh drain basin (including Anand Parvat,...",56.88,57.50,60.50,As-Ws-Lc,22.634804,73.030930
4,Gujarat,Ankaleshwar,67.50,68.75,57.75,Ac-Wc-Ls,11.719474,76.735354
5,Gujarat,Vapi,51.75,79.50,54.75,As-Wc-Ls,20.362803,72.929404
6,Gujarat,Ahmedabad,49.75,60.50,46.00,An-Wc-Ln,23.018652,72.597713
7,Gujarat,Vatva,43.00,80.00,40.00,An-Wc-Ln,22.950870,72.622250
8,Gujarat,Bhavnagar,30.75,57.50,40.50,An-Ws-Ln,21.770975,72.137916
9,Gujarat,Junagarh,42.75,40.00,43.00,An-Wn-Ln,19.859951,82.936261
10,Haryana,Faridabad,46.00,67.50,40.50,An-Wc-Ln,28.392454,77.305904
11,Haryana,Panipat,48.25,76.00,45.50,An-Wc-Ln,29.381364,76.972813
12,Jharkhand,Dhanbad,50.50,47.00,63.00,As-Wn-Lc,23.795972,86.432400
13,Karnataka,Mangalore,54.75,58.25,41.00,As-Ws-Ln,12.928081,74.825717
14,Karnataka,Bhadravati,37.38,35.50,35.50,An?Wn?Ln,21.675114,82.075254
15,Kerala,"Cochin, Greater",48.00,45.50,42.00,An-Wn-Ln,9.935994,76.270768
16,Madhya Pradesh,Indore,65.00,70.50,43.00,Ac-Wc-Ln,32.130405,75.690867
17,Maharashtra,Chandrapur,51.75,50.50,75.50,As-Ws-Lc,19.960682,79.300141
18,Maharashtra,Dombivalli,51.00,64.50,43.00,As-Wc-Ln,19.197842,73.100321
19,Maharashtra,Aurangabad,56.75,55.50,50.50,As-Ws-Ls,19.873791,75.315304
20,Maharashtra,Navi Mumbai,47.00,66.00,43.00,An-Wc-Ln,31.196621,76.983053
21,Maharashtra,Tarapur,58.00,63.00,48.00,As-Wc-Ln,19.859874,72.682362
22,Orissa,Angul Talchar,61.75,60.50,48.00,Ac-Wc-Ln,20.841941,85.106516
23,Orissa,Ib valley,48.00,48.00,47.00,An-Wn-Ln,28.389369,77.276244
24,Orissa,Jharsuguda,65.00,50.50,47.00,Ac-Ws-Ln,21.860884,84.018705
25,Punjab,Mandi Gobind Garh,55.00,67.00,60.50,As-Wc-Lc,31.708784,76.932011
26,Rajasthan,Bhiwadi,62.75,46.00,46.00,Ac-Wn-Ln,20.732423,86.087897
27,Rajasthan,Jodhpur,57.50,50.50,69.00,As-Ws-Lc,26.283764,73.021914
28,Rajasthan,Pali,54.00,72.50,68.75,As-Wc-Lc,10.994780,77.268910
29,Tamil Nadu,Cuddalore,45.50,53.50,60.50,An-Ws-Lc,11.758416,79.769522
30,Tamil Nadu,Manali,55.50,69.00,48.00,As-Wc-Ln,32.243403,77.189337
31,Tamil Nadu,Coimbatore,32.38,48.00,30.50,An-Wn-Ln,10.996065,76.967826
32,Uttar Pradesh,Ghaziabad,69.50,76.00,48.75,Ac-Wc-Ln,28.674109,77.438009
33,Uttar Pradesh,Singrauli,68.00,70.50,63.50,Ac-Wc-Lc,24.198731,82.667437
34,Uttar Pradesh,Kanpur,55.00,64.50,40.00,As-Wc-Ln,26.455100,80.350377
35,Uttar Pradesh,Agra,57.00,55.00,49.50,As?Ws?Ln,27.735408,78.001703
36,Uttar Pradesh,Varanasi-Mirzapur,44.00,47.00,42.50,An-Wn-Ln,25.324479,82.987132
37,West Bengal,Haldia,48.75,50.00,47.50,An-Ws-Ln,29.214056,79.527936
38,West Bengal,Howrah,43.00,51.00,48.00,An-Ws-Ln,18.202133,77.141906
39,West Bengal,Asansole,47.38,40.50,40.50,An-Wn-Ln,23.677616,86.117733